{% extends "base.html" %}
{% block title %} 
{{super()}}
About CDAMAA 
{% endblock %}
{% block page_content %}
    <div class="page-header">
        <h1>Page is currently under construction. </h1>
    </div>
    <p class="leading">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae illo deserunt est corrupti, harum sunt officiis voluptatum, voluptate sint molestiae temporibus non enim, vitae provident corporis nulla? Illo, ab voluptate?
        Eius adipisci veritatis nesciunt! Repudiandae pariatur adipisci quod doloremque, perspiciatis fugiat eum cum dolorem blanditiis natus illo nihil accusantium perferendis ipsum quo voluptates corporis cumque debitis ut qui facere deserunt.
        Labore odit quos quia aspernatur ipsa cum in omnis eius quam doloribus quasi necessitatibus animi modi qui, velit rem minus exercitationem eaque iusto perspiciatis aut illum! Suscipit accusamus error eius!
        Quidem, sint nam, ad recusandae fuga ipsam cupiditate voluptatibus aut libero corrupti possimus illum, maxime necessitatibus debitis? Labore a, quos repellat atque vero nobis doloremque non minima veniam quasi officiis.
        Unde reprehenderit cupiditate nisi accusantium temporibus! Ad iusto in ea vitae deserunt repellendus ex quam facilis facere laboriosam blanditiis iure veniam, architecto nemo quis, libero possimus debitis quibusdam. Maxime, repellat.
    </p>
    {% block footer %}
        {{super()}}
    {% endblock %}
{% endblock %}