{% extends "base.html" %}
{% block head %}
    {{super()}}
    {% block title %}
        <title>Learn from us.</title> 
    {% endblock %}
{% endblock %}
{% block page_content %}
    
    <div class="page-header">
        <h1>Page is currently under construction.</h1>
    </div>
    <p class="leading">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A pariatur, impedit laboriosam blanditiis voluptatibus deserunt molestias facilis non, cupiditate voluptatum labore numquam, dolorem repellat sed ea tempore tempora totam eaque?
        Suscipit vero aut quis praesentium quia minima! Dolorum ut soluta eius, ad modi libero error vero odit, doloribus reprehenderit ducimus porro commodi veritatis beatae. Dignissimos illo minima doloremque unde. Esse.
        Perspiciatis delectus totam, consectetur deleniti pariatur ratione ex sed ullam, sunt eum eaque amet possimus aliquam iusto eligendi aliquid non praesentium nobis consequuntur voluptates reiciendis doloribus tenetur illo. Maxime, qui.
        Veniam voluptatem voluptate voluptates blanditiis laudantium voluptas! Voluptatem aut suscipit qui mollitia similique, architecto quis voluptate placeat debitis quidem? Dolor officia impedit fuga natus debitis sed vel? Rerum, porro voluptatem!
        Pariatur odio, architecto sint aut debitis accusantium modi, omnis hic deleniti numquam eos mollitia. Sit sunt voluptatem libero fugiat. Mollitia, eos similique facere repudiandae at quo explicabo accusantium accusamus rerum!
    </p>
    {{super()}}
{% endblock %}
