{% extends "base.html" %}
{% block head %}
    {{super()}}
    {% block title %}
        <title>Overview</title> 
    {% endblock %}
{% endblock %}
{% block page_content %}
    <section id="overview" class="overview">
     <div class="container">
        <div class="page-header">
            <h3 style='font-family: Verdana, Geneva, Tahoma, sans-serif'>Overview</h3>
        <p style='color:rgb(3, 8, 10)'>
            The Centre for Data Archiving, Analysis and Advocacy (C-DAMAA) is a research centre in the School of Economics, University of Cape Coast.
        <br>
             As a centre, we provide an avenue where researchers can get access to survey and administrative microdata from Ghana and other African countries. In addition, the Centre also provides access to macroeconomic datasets from Ghana. As a centre, we assist researchers and academics use datasets available on our website through our online helpdesk. 
            We also provide training courses in data management and analysis.
        <br>
            C-DAMAA also offer microdata collection, curation and processing services for researchers and organisations in need of high-quality data.
            The Centre conducts regular research on the quality and usability of microdata in Ghana.
             We also work with microdata producers (e.g. Ghana Statistical Service) in Ghana and across Africa in order to improve on the quality of their products.
        </p>
        <br>
         <h3 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Mission Statement</h3>
        <p>The mission of C-DAMAA is to increase access to individual, household and firm level data as well as macroeconomic data to promote a culture of interrogating complex relationships among issues using acquired analytical skills. 
            Further to this, C-DAMAA engages industry, government and development partners on research outcomes through the active and regular release of policy briefs and dialogues with all stakeholders.</p>
    </div>
        </div>
    </section>
    {% block footer %}
        {{super()}}
    {% endblock %}
{% endblock %}
