{% extends "base.html" %}
{% block title %} Overview {% endblock %}
{% block page_content %}
<section id="overview" class="overview">
    <div class="container" data-aos="fade-up">

      <div class="section-header">

        <h2>Overview </h2>
        <p>
            
            The Centre for Data Archiving, Analysis and Advocacy (C-DAMAA) is a research centre in the School of Economics, University of Cape Coast.
             As a centre, we provide an avenue where researchers can get access to survey and administrative microdata from Ghana and other African countries.
             In addition, the Centre also provides access to macroeconomic datasets from Ghana. As a centre, we assist researchers and academics use datasets available on our website through our online helpdesk.
             We also provide training courses in data management and analysis.

        </p>
        <h2>Mission Statement </h2>
        <p>
            C-DAMAA also offer microdata collection, curation and processing services for researchers and organisations in need of high-quality data. 
            The Centre conducts regular research on the quality and usability of microdata in Ghana.
             We also work with microdata producers (e.g. Ghana Statistical Service) in Ghana and across Africa in order to improve on the quality of their products.
        </p>


      </div>

      <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-5">
          <div class="about-img">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-7">
          <h3 class="pt-0 pt-lg-5">Awards</h3>
{% endblock %}