{% extends "base.html" %}
{% block head %}
   {{super()}}
    {% block title %}
        <title>Programs</title>
      {%endblock%}
{%endblock%}
{%block page_content%}    
       <section id="programs" class="programs">
           <div class="container">
               <div class="page-header">
                   <br>
                   <h3>Programs</h3> 
                   <br>
                   <p>The mission of C-DAMAA is to increase access to individual, household and firm level data as well as macroeconomic data to promote a culture of interrogating complex relationships among issues using acquired analytical skills.
                        Further to this, C-DAMAA engages industry, government and development partners on research outcomes through the active and regular release of policy briefs and dialogues with all stakeholders.
                    </p> 
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet placeat omnis itaque quod fuga debitis qui quaerat dolorem nisi dolore quia provident hic atque dicta, consequuntur ipsa sunt pariatur animi.
                    Fugit exercitationem quasi impedit in officia placeat eum aliquid et perspiciatis? Reiciendis sunt, incidunt fugit dolores quae repellat minus sit laborum iste in exercitationem nesciunt voluptas repellendus excepturi nemo eligendi.
                    Vitae consequatur quaerat sequi et cum magni minus, expedita soluta aliquam, consectetur sapiente ipsa. Tempora nihil quaerat sed rem, iusto rerum animi exercitationem beatae expedita enim, temporibus assumenda odit soluta.
                    Quaerat, fuga eveniet nisi, nesciunt numquam dolorum aliquam necessitatibus nulla temporibus animi earum debitis quisquam saepe quasi ut perferendis praesentium? Voluptatibus fugiat itaque assumenda rerum fugit pariatur dignissimos doloribus ad.
                    Vero delectus, quae sunt hic rerum quaerat dolorem ratione culpa! Obcaecati neque fugit enim sit quisquam adipisci nemo blanditiis sequi totam placeat sint mollitia quis voluptas odit aliquid, ducimus cupiditate.</p>    
                </div>
            </div>
        </section>                    

{{super()}}

{% endblock %}