
{% extends "base.html" %}
{% block head %}
   {{super()}}
    {% block title %}
        <title>Research</title>
      {%endblock%}
{%endblock%}
{%block page_content%}    
       <section id="research" class="research">
           <div class="container">
               <div class="page-header">
        <body style="background-color:white">
                   <br>
                   <h3>How to cite datasets used in your research publications</h3>
                   <br>
                   <p >It is good research practice to cite primary data sources in your published papers, just as you would cite research publications</p>
                   <p>Here are some tips on citing data you use in your research:.</p>
                   <ul>
                       <li>Identify the data early in on your paper, preferably in the abstract.</li>
                    <li>Include a dedicated "data" section so that readers can immediately identify the data that underlies your work.</li>
                    <li>Refer to your data sources in your data tables.</li>
                    <li>Cite data in your references. References are more frequently indexed than full papers, so the citation will be made more visible by its inclusion here.</li>
                    <li>Cite the exact version of the data used in your research, to support data discovery. That is, the version in the citation must be the version you used in your research.</li>
                    <li>Include the unique identifier of the dataset in your citation, such as Direct Object Identifiers (DOIs).These will enable the data to be accessed even if URLs change and thus provide a permanent link to the data.</li>
                    <li>Include a unique identifier for the dataset when you cite data, such as a Direct Object Identifier (DOI).</li>
                </ul>
        </body>
               </div>
           </div>

       </section>
{{super()}}
{% endblock %}