{% extends "base.html"%}
{% block head %}
    {{super()}}
    {% block title %}
        <title>Upload Data</title> 
    {% endblock %}
{% endblock %}
{% block page_content %}
    <div class="page-header">
        <h1>Start Uploading Data</h1>
    </div>
    <!-- <h1>Page is currently under construction.</h1> -->

    <p class="leading">
        CDAMAA welcomes and encourages deposits of digital data. Depositing data into ICPSR is free.
         Deposits are made using a secure data deposit form to describe the data collection and upload content
    </p>
    <br>
    <div class="text-center m-3">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
       Start Data Deposit
      </button>
    </div>
    
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title text-center">Create a Project</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <form method="post">
              <label for="title" style="margin-bottom: 2rem;">Project Title</label> 
              <input  type="text" placeholder="Enter Project Title" class="form-control">
              <br>
              <br>
              <label for="instruction" class="form-check-label" >Is this deposit related to an existing CDAMAA collection or data series?</label>
              <label class="form-check-label">
                <input type="radio" name="choice" value="Yes"  class="form-check-input" > Yes
              </label>
              <label class="form-check-label" >
                <input type="radio" name="choice" value="No" class="form-check-input" > No
              </label>
              </div>
              <div class="modal-footer">
                <a href="/deposit"><button type="button" class="btn btn-secondary" style="background-color: blue;">Save and Apply</button></a>
              </div>
            </form>
        </div>
      </div>
    </div>
        {{super()}}
{% endblock %}