{% extends "base.html" %}
{% block head %}
   {{super()}}
    {% block title %}
        <title>workshops</title>
      {%endblock%}
{%endblock%}
{%block page_content%}    
       <section id="workshops" class="workshops">
           <div class="container">
               <div class="page-header">
                   <h3>Workshops</h3> 
                   <br>
                   <p>The mission of C-DAMAA is to increase access to individual, household and firm level data as well as macroeconomic data to promote a culture of interrogating complex relationships among issues using acquired analytical skills.
                        Further to this, C-DAMAA engages industry, government and development partners on research outcomes through the active and regular release of policy briefs and dialogues with all stakeholders.
                    </p>      
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In libero quos ratione magnam nihil? Illo architecto reiciendis iure, odit, autem a impedit officia beatae inventore eos cumque cupiditate molestiae ipsum!
                    Rerum earum quos iusto commodi omnis. Repellendus perferendis assumenda facilis, beatae quod incidunt consectetur et nemo unde aliquid? Accusamus consequuntur est repellat repudiandae id voluptatibus vitae ea aperiam inventore labore.
                    Delectus aperiam voluptate ducimus sint ipsum nihil voluptatum, ab ad reiciendis molestiae saepe provident pariatur minima mollitia porro itaque aliquid molestias earum vero eius totam deserunt ipsa harum debitis! Ipsa?
                    Iusto nobis debitis reiciendis necessitatibus pariatur sit impedit deleniti, explicabo, illum soluta possimus sequi enim exercitationem error! Reprehenderit magnam obcaecati ad, a sint harum velit fuga doloribus. Quisquam, dolor voluptate.
                    Voluptas sit praesentium dignissimos laborum et quia, veritatis neque pariatur. Commodi porro pariatur iure quae in ullam nobis tempora cupiditate quod aut consequatur aliquam sapiente reprehenderit, quis quia dolores ipsa.</p>
                </div>
            </div>
        </section>                                
{{super()}}
{% endblock %}